#board {
    background-color: #eff0dc;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 800px;
    height: auto;
    margin: auto;
    padding: 30px;
}

.card {
    flex: 20%;
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    perspective: 1000px;
}
.card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s ease;
}
.flipped .card-flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(197, 204, 170);
    backface-visibility: hidden;
    
}
.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 204, 170);
    font-size: 1.8rem;
    font-weight: bolder;
    color: #b8a174;

}
.card-back {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
}